body {
    margin: 0;
}

@font-face {
    font-family: 'Uber Move';
    src: url('./fonts/UberMove.ttf');
}

@font-face {
    font-family: 'TT Norms';
    src: url('./fonts/TTNorms.ttf');
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100%;
}

.wrapper__container {
    width: 100%;
}


._container {
    max-width: 1440px;
    padding: 0px 120px 0px 120px;
    margin: 0 auto;
}
@media (max-width: 1200px) {
    ._container {
        max-width: 970px;
        padding: 0px 80px 0px 80px;
    }
}
@media (max-width: 992px) {
    ._container {
        max-width: none;
        padding: 0px 0px 0px 0px;
    }
    ._container-mobile {
        display: block;
        padding: 0px 15px 0px 15px;
    }
}
@media (max-width: 767px) {
    ._container {
        max-width: none;
        padding: 0px 0px 0px 0px;
    }
    ._container-mobile {
        display: block;
        padding: 0px 15px 0px 15px;
    }
}


a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



