.our-service {
    
}

.our-service__container {
    margin: 118px 0px 0px 0px;
}

.our-service__title {
    line-height: calc(52 / 40 * 100%);
    font-size: 40px;
    
}


.our-service__img-container {
    flex: 0 0 12.5%;
    max-width: 1200px; 
    height: 240px;
    position: relative;
    overflow: hidden;
    background: #D9D9D9;
    border-radius: 16px;
    margin: 42px 0px 0px 0px;
}

.our-service__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.our-service__roadmap-container {
    display: flex;
    flex-wrap: wrap;
}

.our-service__roadmap {
    width: 281.5px;
    margin: 51px 24px 0px 0px;
}

.our-service__roadmap:last-child {
    max-width: 281.5px;
    margin: 51px 0px 0px 0px;
}

.roadmap__number-item {
    font-size: 32px;
    line-height: calc(38 / 32 * 100%);
    border-bottom: 1px solid #000000;
    padding: 0px 0px 13px 0px;
}

.roadmap__items {
    font-size: 24px;
    line-height: calc(29 / 24 * 100%);
    padding: 0px 0px 0px 0px;
}
.roadmap__item {
    padding: 20px 0px 0px 11px;
}


.our-service__info {
    display: flex;
    padding: 62px 0px 0px 0px;
    

}
.our-service__info-container {
    width: 100%;
    min-height: 152px;
    border: 1px solid #8E8E8E;
    border-radius: 16px;
    margin: 0px 24px 0px 0px;
    position: relative;
}
.our-service__info-container:last-child {
    margin-right: 0px;
}
.info__description {
    padding: 28px 50px 41px 26px;
}

.info__details {
    padding: 0px 0px 0px 27px;
    position: absolute;
    width: 100%;
    bottom: 5%;
}

.info__details-arrow {
    margin: 0px 0px 0px 8px;
    transform: rotate(-90deg);
}

@media only screen and (max-width: 1440px) {
    .our-service__container {
        margin: 80px 0px 0px 0px;
    }
    .our-service__title {
        margin: 0px 0px 25px 0px;
        text-align: center;
        font-size: calc(21px + (17.5 + 17.5 * 0.7) * ((100vw - 375px) / 1440));
    }
    .our-service__roadmap-container {
        display: flex;
        justify-content: center;
    }
    .our-service__roadmap {
        width: 40%;
        margin: 25px 24px 0px 0px;
    }
    .our-service__roadmap:nth-child(2) {
        margin: 25px 0px 0px 0px;
    }
    .our-service__roadmap:nth-child(3) {
        margin: 25px 24px 0px 0px;
    }
  
    .our-service__roadmap:last-child {
        min-width: 40%;
        margin: 25px 24px 0px 0px;
    }
    .our-service__img-container {
        margin: 25px 0px 0px 0px;
        max-width: 1170px; 
    }
}

@media only screen and (max-width: 992px) and (min-width: 320px) {
    .our-service__container {
        margin: 25px 0px 0px 0px;
    }
    .our-service__img-container {
        max-width: 810px; 
        margin: 0 auto;
    }
    .our-service__roadmap {
        margin: 25px 24px 0px 0px;
        width: 40%;
    }
    .our-service__roadmap:nth-child(3) {
        margin: 15px 24px 0px 0px;
    }
    .our-service__roadmap:last-child {
        min-width: 40%;
        margin: 15px 0px 0px 0px;
    }
    .our-service__info {
        flex-wrap: wrap;
        justify-content: center;
        padding: 25px 0px 0px 0px;
    }
  
    .our-service__info-container {
        margin: 0px 15px 0px 0px;
        max-width: 80%;
        min-height: 178px;
    }
    .our-service__info-container:first-child {
        margin-right: 0px;
    }
    .our-service__info-container:last-child {
        margin-top: 15px;
    }
    .roadmap__number-item {
        font-size: calc(16px + (17.5 + 17.5 * 0.7) * ((100vw - 375px) / 1440));
    }
    .roadmap__items {
        font-size: calc(15px + (12 + 12 * 0.7) * ((100vw - 375px) / 1440));
        margin: 10px 0px 0px 0px;
    }
    .roadmap__item {
        padding: 10px 0px 0px 0px;
    }
    .info__details {
        padding: 0px 0px 0px 27px;
        position: absolute;
        width: 100%;
        bottom: 5%;
    }
    .info__description {
        padding: 28px 50px 15px 26px;
    }
}

@media only screen and (max-width:420px) {
    .our-service__roadmap {
        width: 100%;
        margin: 25px 0px 0px 0px;
    }
    .our-service__roadmap:nth-child(2) {
        margin: 5px 0px 0px 0px;
    }
    .our-service__roadmap:nth-child(3) {
        margin: 5px 0px 0px 0px;
    }
    .our-service__roadmap:last-child {
        min-width: 100%;
        margin: 5px 0px 0px 0px;
    }
    .roadmap__item {
        padding: 7px 0px 0px 11px;
    }
    .roadmap__number-item {
        padding: 0px 0px 0px 0px;
    }

}
