.main {
  
   
}
.main__statement {
    display: flex;
}

.statement__container {
    flex: 1 1 auto;
    padding: 0px 20px 0px 0px;
}

.title {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 700;
    color: #818181;
}

.text {
    margin: 0px 0px 0px 0px;
}

.statement__title-text {
    line-height: calc(52 / 48 * 100%);
    font-size: 48px;
    margin: 152px 0px 0px 0px;
}



.statement__info {
    max-width: 524px;
    background: #D9D9D9;
    border-radius: 8px;
    margin: 38px 0px 0px 0px;
}

.statement__info-text {
  
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #5F5F5F;
    line-height: calc(29 / 24 * 100%);
    padding: 26px 32px 23px 32px;
}


.reg-btn {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(24 / 20 * 100%);
    color: #FFFFFF;
    background: #595959;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 32px;
    height: 64px;
    width: 183px;
    border-radius: 4px;
}

.statement__btn {
    margin: 49px 0px 0px 0px;
}

.statement__details {
    padding: 21px 0px 0px 0px;
}

.details {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: calc(19 / 16 * 100%);
    color: #AAAAAA;
}

.details__arrow {
    font-size: 22px;
}

.statement__details-arrow {
    margin: 0px 16px 0px 38px;
}

.statement__image-container {
    flex: 1 1 588px;
    width: 588px;
    max-height: 790px;
    background: #EEEEEE;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.statement__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
   
}

@media only screen and (max-width: 1440px) {
    .statement__title-text {
        font-size: calc(27px + 24 * (100vw / 1440));
       
    }
    .statement__info-text {
        font-size: calc(12px + 12 * (100vw / 1440));
    }
    .reg-btn {
        font-size: calc(14px + 10 * (100vw / 1440));
    }
}

@media only screen and (max-width: 992px) and (min-width: 320px) {
    .main__statement {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .statement__container { 
        padding: 0px 0px 0px 0px;
        flex: 1 1 auto;
    }
    .statement__title-text {
        text-align: center;
        margin: 25px 0px 25px 0px;
        font-size: calc(27px + (24 + 24 * 0.7) * ((100vw - 375px) / 1440))
    }
    .statement__info {
        text-align: center;
        margin: 0 auto;
    }
    .statement__btn-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 524px;
    }
    .reg-btn {
        max-width: 93px;
        max-height: 10px;
    }
    .statement__btn {
        margin: 20px 0px 0px 0px;
    }
    .statement__details-arrow {
        margin: 0px 20px 0px 0px;
    }
    .statement__image-container {
        flex: 0 1 524px;
        min-height: 298.7px;
        margin: 20px 0px 0px 0px;
        position: unset;
    }
    .statement__image {
        position: unset;
    }
}





/* @media (max-width: 767px) {
    .main__statement {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .statement__container { 
        padding: 0px 0px 0px 0px;
        flex: 0 1 auto;
    }
    .statement__title-text {
        text-align: center;
        margin: 30px 0px 0px 0px;
        font-size: calc(27px + (24 + 24 * 0.7) * ((100vw - 375px) / 1440))
    }
    .statement__info {
        text-align: center;
    }
    .statement__btn-container {
        display: flex;
        justify-content: space-between;
    }
    .reg-btn {
        max-width: 93px;
        max-height: 10px;
    }
    .statement__btn {
        margin: 20px 0px 0px 0px;
    }
    .statement__details-arrow {
        margin: 0px 20px 0px 0px;
    }
    .statement__image-container {
        flex: 0 1 524px;
        margin: 20px 0px 0px 0px;
        position: unset;
    }
    .statement__image {
        position: unset;
    }

} */