
.still-services__container {
    margin: 155px 0px 0px 0px;
}

.still-services__title {
    font-size: 35px;
    line-height: calc(48 / 35 * 100%);
}

.still-services__img-container {
    display: flex;
    margin: 35px 0px 0px 0px;
}

.still-services__img-items {
    width: 100%;
    margin: 0px 24px 0px 0px;
}
.still-services__img-items:last-child {
    margin: 0px 0px 0px 0px;
}

.img__item {
    max-width: 384px;
    height: 240px;
    background: #D9D9D9;
    border-radius: 16px;
}

.img__description {
    margin: 14px 0px 0px 0px;
    font-weight: 700;
}

@media (max-width: 450px) {
    .still-services__img-items {
        margin: 0px 20px 0px 0px;
    }
}

@media (max-width: 1200px) and (min-width: 320px) {
    .still-services__container {
        margin: 35px 0px 0px 0px; 
    }
    .still-services__title {
        text-align: center;
        font-size: calc(21px + (17.5 + 17.5 * 0.7) * ((100vw - 375px) / 1440));
    }
    .still-services__img-container {
        overflow-y: scroll;
    }
    .still-services__img-items {
        width: 100%;
    }
    .still-services__img-items:last-child {
        margin: 0px 0px 0px 0px;
    }
    .img__item {
        min-width: 284px;
    }

}
