.why-we__main-container {
    margin: 101px 0px 0px 0px;
}


.why-we__row {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 46px 0px 0px 0px;
}   

.why-we__row:nth-child(2n)   {
    flex-direction: row-reverse;
    margin: 20px 0px 0px 0px;
}

.why-we__row:nth-child(2n) .why-we__info  {
    margin: 20px 0px 0px 0px;
}

.why-we__row:nth-child(2n) .why-we__image-container  {
    margin: 20px 30px 0px 0px;
}

.why-we__title {
    font-size: 35px;
    line-height: calc(48 / 35 * 100%);
}

.why-we__info {
    flex: 1 1;
    margin: 20px 30px 0px 0px;
}

.number__title-text {
    font-size: 35px;
    line-height: calc(48 / 35 * 100%);
}

.why-we-text {
    margin: 14px 0px 0px 0px;
    font-size: 24px;
    line-height: calc(29 / 24 * 100%);
}

.why-we__description {
    margin: 14px 0px 0px 0px;
}

.why-we__image-container {
    flex: 1 1 auto;
    max-width: 584px;
    height: 224px;
    background: #D9D9D9;
    border-radius: 8px;
}

@media (max-width: 1200px) and (min-width: 320px) {
    .why-we__main-container {
        margin: 35px 0px 0px 0px;
    }
    .why-we__title {
        text-align: center;
        font-size: calc(21px + (17.5 + 17.5 * 0.7) * ((100vw - 375px) / 1440));
    }
    .why-we__info {
        margin: 0px 0px 0px 0px;
    }
    .why-we__row {
        max-width: 584px;
        display: block;
        margin: 0 auto;
        padding: 10px 0px 0px 0px;
    }
    .why-we__row:nth-child(2n) {
        margin: 0 auto;
        max-width: 584px;
        padding: 10px 0px 0px 0px;
    }
    .why-we__row:nth-child(2n) .why-we__info {
        margin: 0px 0px 0px 0px;
    }
    .why-we__row:nth-child(2n) .why-we__image-container {
        margin: 10px 0px 0px 0px;
    }
    .why-we__image-container {
        margin: 10px 0px 0px 0px;
    }

    .number__title-text {
        font-size: calc(16px + (17.5 + 17.5 * 0.7) * ((100vw - 375px) / 1440));
        line-height: calc(48 / 35 * 100%);
    }
    .why-we-text {
        margin: 5px 0px 0px 0px;
        font-size: calc(12px + (16 + 16 * 0.7) * ((100vw - 375px) / 1440));
    }
    .why-we__description {
        font-size: calc(11px + (8 + 8 * 0.7) * ((100vw - 375px) / 1440));
        margin: 10px 0px 0px 0px;
    }
}


