
.where-to-buy {
    margin: 0px 0px 130px 0px;
}

.buy__title-text {
    font-size: 40px;
    line-height: calc(48 / 40 * 100%);
}

.buy__markets {
    display: inline-flex;
    padding: 46px 0px 0px 0px;
    width: 100%;
    
}

.buy-markets__container:last-child {
    margin: 0px 0px 0px 0px;
}

.buy-markets__container {
    margin: 0px 24px 0px 0px;
    width: 100%;
    
   
}
.market {
    flex: 0 0 19.58%;
    width: 282px;
    height: 400px;
    position: relative;
    overflow: hidden;
    background: #D9D9D9;
    border-radius: 16px;
   
}

.market__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


.market__title {
    padding: 30px 0px 0px 0px;
}

.market__description {
    padding: 14px 0px 0px 0px;
}

.buy-btn__container {
    display: flex;
    justify-content: center;
    margin: 51px 0px 80px 0px;
}

.long-btn {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16 * 100%);
    color: #FFFFFF;
    background: #595959;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 242px;
    height: 48px;
    border-radius: 4px;   
}

.favour-offers {
    height: 261px;
    background: #D9D9D9;
    border-radius: 16px;
    display: flex;
}

.favour__info {
    padding: 29px 0px 0px 35px;
    margin: 0px 114px 0px 0px;
}
.favour__title {
    font-size: 36px;
    line-height: calc(48 / 40 * 100%);
}
.favour__description {
    padding: 14px 0px 0px 0px;
}

.favour-image {
    flex: 1 1 auto;
    margin: 25px 24px 25px 0px;
    width: 544px;
    height: 211px;
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 16px;
}



.order_inputs__container {
    margin: 32px 0px 0px 0px;
    display: flex;
    width: 100%;
    
}

.inpt {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #F7F7FD;
    border-radius: 4px;
    outline: none;
    border: none;
    width: 20.55%;
}

.inpt::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    color: #212121;
}

.inpt:last-child {
    margin: 0px 0px 0px 0px;
}
.name-input {
    min-height: 56px;
    margin: 0px 14px 0px 26px;
    padding: 0px 0px 0px 20px;
}
.phone-input {
    min-height: 56px;
    margin: 0px 14px 0px 0px;
    padding: 0px 0px 0px 20px;
}
.mail-input {
    min-height: 56px;
    padding: 0px 0px 0px 20px;
}
.order_inputs__btn {
    margin: 0px 0px 0px 24px;
}
.medium-btn {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(24 / 20 * 100%);
    color: #FFFFFF;
    background: #595959;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px 32px;
    width: 14.02%;
    white-space: nowrap;
    /* height: 56px; */
    border-radius: 4px; 
}

@media (max-width: 1440px) {
    .where-to-buy {
        margin: 0px 0px 60px 0px;
    }
    .buy__markets {
        overflow-x: scroll;
    }
}
@media (max-width: 1200px) and (min-width: 320px) {
    .buy__title-text {
        text-align: center;
        font-size: calc(27px + (24 + 24 * 0.7) * ((100vw - 375px) / 1440))
    }
    .buy-btn__container {
        margin: 25px 0px 40px 0px;
    }
    .favour-offers {
        display: block;
        max-width: 962px;
        height: 200px;
    }
    .favour-image {
        display: none;
    }
    .favour__info {
        padding: 29px 35px 0px 35px;
        margin: 0px 0px 0px 0px;
    }
    .favour__title {
        text-align: center;
        font-size: calc(16px + (20 + 20 * 0.7) * ((100vw - 375px) / 1440))
    }
    .favour__description {
        display: block;
        padding: 14px 0px 0px 0px;
    }
    .market__title {
        padding: 15px 0px 0px 0px;
    }
    .market__description {
        padding: 5px 0px 0px 0px;
    }
    .order_inputs__container {
        display: block;
        width: 100%;
    }
    .name-input {
        margin: 0px 0px 25px 0px;
        padding: 0px 0px 0px 20px;
        width: 97%;
    }
    .phone-input {
        margin: 0px 0px 25px 0px;
        padding: 0px 0px 0px 20px;
        width: 97%;
    }
    .mail-input {
        padding: 0px 0px 0px 20px;
        margin: 0px 0px 0px 0px;
        width: 97%;
    }
    .medium-btn { 
        font-size: calc(13px + (10 + 10 * 0.7) * ((100vw - 375px) / 1440));
        padding: 10px 45px;
    }
    .order_inputs__btn {
        margin: 25px 0px 0px 0px;
    }
}