.header {
    width: 100%;
}

.header__container {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
}



.header__menu-items {
    display: flex;
    white-space: nowrap;
  
}


.logo-text {
    font-family: 'Uber Move';
    color: #5F5F5F;
    font-weight: 700;
    font-size: 18px;
    border: 3px solid #5F5F5F;
    border-radius: 8px;
    padding: 10.5px 12.5px 10px 13.86px;
    letter-spacing: 8px;
}

.menu {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: calc(18 / 15 * 100%);
}

.header__menu-items {
    padding: 0px 0px 0px 27px;
}
.header__menu-item {
    margin: 0px 20px 0px 0px;
    list-style-type: none;
}

.menu-link {
    color: #818181;
}

.header__autorization {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: #818181;
    margin-left: auto;
    white-space: nowrap;
}

.header__login {
    color: #818181;
}

.header__registration {
    color: #818181;
    margin: 0px 0px 0px 10px;
}

@media (max-width: 1440px) {
    .header__container {
        justify-content: space-between;
    }
    .logo-text {
        font-size: calc(18px + 9 * (100vw / 1440));
    }
    .menu {
        font-size: calc(8px + 7.5 * (100vw / 1440));
    }
    .header__autorization {
        font-size: (15px + 9 * (100vw / 1440));
    }
    
}

@media (max-width: 1275px) {
    .header__menu {
        display: none;
    }
}

@media (max-width: 767px) {
    .header__container {
        height: 70px;
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width: 992px) and (min-width: 320px) {
    .logo-text {
        font-size: calc(15px + (7.5 + 7.5 * 0.7) * ((100vw - 375px) / 1440));
        margin: 0px 0px 0px 25px;
    }
    .header__autorization {
        font-size: calc(12px + (7.5 + 7.5 * 0.7) * ((100vw - 375px) / 1440));
    }
    .header__autorization:last-child {
        margin: 0px 15px 0px 0px;
    }
}

