body {
    margin: 0;
}

@font-face {
    font-family: 'Uber Move';
    src: url('./../fonts/UberMove-Light.woff');
}

@font-face {
    font-family: 'TT Norms';
    src: url('./../fonts/TTNorms.ttf');
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper__container {
  
    
}

._container {
    max-width: 1440px;
    padding: 0px 117px 0px 120px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



